.mainbanner {
  &-wrapper {
    @include flexer-horizontal-center();
    margin: 2rem 0;
    width: 100%;
  }
  &-body {
    width: 70%;
    height: 25rem;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
    font-size: 6rem;
    @include flexer-horizontal-center();
    font-family: "Permanent Marker", cursive;
  }
}

//*-------------------------------RESPONSIVE---------------------------------------

@media only screen and (max-width: 610px) {
  .mainbanner {
    &-body{
      width: 95%;
    border-radius: 0px;

    }
  }
}

//*-------------------------------RESPONSIVE---------------------------------------
