.navbar {
  &-wrapper {
    height: 8rem;
    width: 100%;
    @include flexer-horizontal-spaceBetween();
    padding: 0 2rem;
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    // margin-bottom: 10rem;

  }
  &-logo {
    width: 13rem;
    height: 10rem;
    margin-right: 15rem;
  }

  &-searchbar {
    font-family: 'Cabin Condensed', sans-serif;
    width: 90rem;
    height: 6rem;
    background-color: $backgroundColor;
    border-radius: 100px 0 0 100px;
    padding: 2rem;
    font-size: 2rem;
    outline: none;
    justify-items: center;

    &-btn{
        font-size: 2rem;
        background-color: $backgroundColor;
        width: 5rem;
        height: 6rem;
        border-radius: 0 100px 100px 0;
    }
  }
  &-user {
    @include flexer-horizontal-spaceBetween();
    font-size: 2rem;
    & div {
      margin-left: 2rem;
      cursor: pointer;
    }
    &-cart {
      font-family: "Righteous", cursive;

      & span {
        margin-left: 1rem;
      }
      &-count {
        border: 3px solid;
        padding: 0 0.5rem;
      }
    }

    &-name {
      font-family: "Cabin Condensed", sans-serif;
      color: #5e5c5c;
      &-bold {
          color: #000;
        font-weight: 700;
      }
    }
  }
}


//* ------------------------------------ RESPONSIVE ----------------------------------------------------

@media only screen and (max-width: 930px) {
  .navbar-searchbar{
    width: 60rem;
  }
}


//* ------------------------------------ RESPONSIVE ----------------------------------------------------