@mixin flexer-horizontal-spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexer-horizontal-spaceEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexer-horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexer-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin  flexer-vertical-spaceEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

@mixin  flexer-vertical-spaceArround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

@mixin  flexer-vertical-start-spaceEvenly {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}