@mixin flexer-horizontal-spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexer-horizontal-spaceEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexer-horizontal-start-spaceEvenly {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexer-horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexer-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin  flexer-vertical-spaceEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

@mixin  flexer-vertical-spaceArround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

@mixin  flexer-vertical-start-spaceEvenly {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}
@mixin  flexer-vertical-spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@mixin  flexer-vertical-start-spaceBetween {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}




@mixin loadAnim {
    &:after{
        background: linear-gradient(to right, transparent 0%, rgb(228, 227, 227) 50%, transparent 100%);
        width: 20%;
        height: 100%;
        content: '';
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite ;
    }
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}